<div class="header">
    <h3>Shoppy</h3>
        <div class="right" *ngIf="loginStatus;else notLogin">
              <a
                (click)="handleClick('product')"
              >
                Product
              </a>
              <a
                (click)="handleClick('getinfo')"
              >
                Get Info
              </a>
              <a
                (click)="handleClick('orders')"
              >
                Orders
              </a>
              <a class="logout-btn" (click)="logout()">
                Logout
              </a>
        </div>
    <ng-template #notLogin>
        <div class="right">
            <a routerLink="/login" class="login-btn">
               Login
             </a>
        </div>
    </ng-template>
</div>
<div class="body">
  <container-element [ngSwitch]="render">
    <ng-container *ngSwitchCase="'product'">
      <app-product></app-product>
    </ng-container>
    <ng-container *ngSwitchCase="'getinfo'">
      <app-getinfo></app-getinfo>
    </ng-container>
    <ng-container *ngSwitchCase="'orders'">
      <app-orders></app-orders>
    </ng-container>
  </container-element>
</div>
