<div class="section">
      <div class="form">
        <form (submit)="handleSubmit($event)">
          <h1>Password reset</h1>

          <input
            class="box"
            type="password"
            name="password"
            placeholder="password"
            required
            [(ngModel)]="password"
          />
          <br />
          <input
            type="submit"
            id="submitDetails"
            name="submitDetails"
            value="Submit"
          />
          <br />
        </form>
      </div>
    </div>