<div class="PendingRequstList">
  <form (submit)="changeInterval()">
    <label
      >After how many days the pending approvel automaticaly rejected</label
    >
    <input type="number" name="interval" [(ngModel)]="interval" />
    <input type="submit" value="submit" id="submit" />
  </form>
  <p>PendingRequstList</p>
  <div class="table">
    <table>
      <thead>
        <tr key="thead">
          <th>User Mail</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>
      </thead>
      <tbody key="tbody" *ngFor="let item of values">
        <tr key="{item}">
          <td>{{ item }}</td>
          <td>
            <a (click)="acceptreject(item, 'Accept')">
              Accept
            </a>
          </td>
          <td>
            <a (click)="acceptreject(item, 'Reject')">
              Reject
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
