* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*small screen*/
@media only screen and (max-width: 800px) {
    .puzzle .title {
        margin-top: 25px;
    }

    button {
        margin-bottom: 20px;
    }

    table {
        margin-bottom: 30px;
    }
}

/*large screen*/
@media only screen and (min-width: 800px) {
    body {
        overflow: hidden;
        align-items: center;
    }

    button {

        margin-top: 30px;
    }

    .puzzle .right {
        margin-left: 20vw;
    }

    .puzzle .right,
    .puzzle .left {
        display: inline-block;
    }
}

table tr img {
    width: 100px;
}

.puzzle .title {
    text-align: center;
    margin-bottom: 40px;
}

.puzzle .title h1 {
    color: white;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #0052D4;
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
}

table {
    padding: 0px;
    background-color: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.puzzle .left .left-box table tr td,
.puzzle .right .right-box table tr td {
    border: 1px solid #0052D4;
}


.active {
    box-shadow: 0 14px 18px 0 rgba(0, 82, 212, 1), 0 16px 120px 0 rgba(0, 82, 212, 1);
    border: 1px solid #0052D4;
    opacity: 20%;
}

button {
    padding: 10px;
    background-color: white;
    color: #0052D4;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.2s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: #0052d4;
    color: white;
}

.title h4,
.title p {
    font-size: 18px;
    color: white;
    margin-top: 10px;

}

.title p {
    text-shadow: 1px 1px 20px #000;
}

 td img{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
lable{
    color: white;
    margin-bottom: 100px;
}
#file{
    color:white;
}
.right td{
    width: 100px;
    height: 100px;
}
