<div class="product-list">
  <h3 title="click to view all product" class="left" (click)="allproductLoad()">
    All product
  </h3>
  <br />
  <div class="right">
    <!-- <form (submit)="searchSubmit($event)"> -->
      <input
        type="text"
        name="search"
        [value]="searchValue"
        placeholder="search"
        (input)="search($event)"
        required
      />
      <!-- <input type="submit" />
    </form> -->
  </div>
  <br />
  <br />
  <div infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  >
  <div *ngFor="let item of lists" class="allproduct-list">
    <div key="{item.id}" class="list">
      <img
        src="http://localhost:4000/{{ item.product_image }}"
        style="width: 100px;"
      />
      <h3>{{ item.product_name }}</h3>
      <p>Rs.{{ item.product_prize }}</p>
      <p>{{ item.product_companyname }}</p>
       <p class="product-assured">{{ item.product_assured }}</p>
      <a (click)="clickProduct(item.id)">view more </a>
    </div>
  </div>
  </div>
  <div *ngIf="end" style="text-align: center;">
    <p>----- No more products -----</p>
  </div>
</div>
