<div class="header">
  <div class="left">
    <a class="logout-btn" (click)="back()">
      Back
    </a>
  </div>
  <div class="right">
    <a class="logout-btn" (click)="share()">
      Share
    </a>
  </div>
  <br />
  <br />
</div>
<div *ngIf="product; else noproduct">
  <div class="single-product">
    <div class="img">
      <img src="http://localhost:4000/{{ image }}" />
    </div>
    <h1>{{ name }}</h1>
    <h3 class="review-rating" *ngIf="totalReview">Reviews : {{totalReview}} And Rating : {{avgRating}}</h3>
    <h2>Rs. {{ prize }}</h2>
    <h3>Brand : {{ companyname }}</h3>
    <h3>warranty : {{ warranty }}</h3>
    <h3>{{ assured }}</h3>
    <h3>{{ description }}</h3>
    <container-element [ngSwitch]="role">
      <ng-container *ngSwitchCase="'Admin'">
        <a
          title="click to open seller mail"
          class="mail"
          href="mailto:{{ email }}"
        >
          seller : {{ email }}
        </a>
        <h3 class="delete" (click)="deleteProduct()">
          delete
        </h3>
        <br />
        <h3 class="assured" (click)="assuredProduct()">
          assured
        </h3>
      </ng-container>
      <ng-container *ngSwitchCase="'User'">
        <h3 class="buy" (click)="pay()">
          Buy Now
        </h3>
        <br/>
        <form (submit)="productReviewSubmit($event)">
          <h3>Product Review</h3>
          <label>Product Rating : </label>
          <input type="radio" name="rating" value="1" [(ngModel)]="product_rating"/> 1
          <input type="radio" name="rating" value="2" [(ngModel)]="product_rating" /> 2
          <input type="radio" name="rating" value="3" [(ngModel)]="product_rating"/> 3
          <input type="radio" name="rating" value="4" [(ngModel)]="product_rating"/> 4
          <input type="radio" name="rating" value="5" [(ngModel)]="product_rating" /> 5
          <br />
          <label>comment : </label>
          <textarea name="comment" placeholder="comments" [(ngModel)]="product_comment" ></textarea>
          <br />
          <input type="submit"/>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'Seller'">
        <h3 class="buy">
          seller account
        </h3>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h3 class="buy" routerLink="">
          Login to Buy
        </h3>
      </ng-container>
    </container-element>
    <br  />
    <h3>Comments : </h3>
    <div *ngFor="let item of lists" class="product-comment">
      <div key="{item}" class="list-comment">
      <h3 class="comment-name">{{ item.name }} Rating : {{ item.user_rating }}</h3>
      <p></p>
      <p>{{ item.user_comment}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #noproduct> </ng-template>
