* {
    margin: 0px;
    padding: 0px;
}

/*small screen */
@media only screen and (max-width: 767px) {

    .header a,
    .header input,
    .header .profile,
    .header .search,
    .section1,
    .section3,
    .section4 {
        display: none;
    }

    .bodypage {
        display: flex;
        justify-content: center;
    }

    .section2 {
        padding-top: 70px;
        padding-left: 0vw;
    }

    .header {
        width: 100%;
        background-color: #4267b2;
        display: inline-block;
        position: fixed;
        z-index: 1;
    }

    .header {
        padding: 0px;
    }

    .header .navicon {

        display: flex;
        justify-content: space-around;
    }

    .header .navicon li {
        display: inline-block;
    }

    .header .navicon li i:hover,
    #active {
        color: white;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .header .navicon li i {
        padding: 20px 15px;
        font-size: 20px;
    }

    .section2 .postnews li #news {
        width: 100%;
        text-align: center;
    }

}

/*middle screen*/

@media only screen and (max-width: 449px) {
    #hidden {
        display: none;
    }

    .section2 .postnews li .feeds a {
        padding: 0px 2px;
    }

    .section2 .postnews li .feeds {
        padding: 15px 3px 0px 3px;
        text-align: center;
    }

    #pictureupload {
        float: right;
        padding: 15px;
        z-index: 1;
        font-size: 20px;
    }
}

@media only screen and (min-width: 450px) {
    .section2 .post {
        width: 450px;

    }

    #pictureupload {
        display: none;
    }

    .section2 .stories {
        width: 450px;
    }

    .section2 .postnews li {
        width: 450px;
    }

    .section2 .postnews li #news {
        width: 450px;
    }

    .section2 .postnews li .feeds a {
        padding: 0px 22px;
    }

    .section2 .postnews li .feeds {
        padding: 25px 15px 5px 15px;
        text-align: center;
    }

}

/*large screen*/
@media only screen and (min-width: 768px) {
    .header .navicon {
        display: none;
    }

    .header {
        width: 100%;
        background-color: #4267b2;
        padding: 10px 0px;
        display: inline-block;
        position: fixed;
        z-index: 1;
    }

    .header a .fab {
        color: white;
        font-size: 28px;
        padding-left: 5vw;
    }

    .header input {
        width: 30vw;
        margin-top: 3px;
        border: 1px solid white;
        border-radius: 3px 0px 0px 3px;
        height: 22px;
        margin-left: .5vw;
        position: absolute;
        display: inline-block;
    }

    .header input[type="text"] {
        font-size: 15px;
        padding-left: 7px;
    }

    .header .search {
        display: inline-block;
        background-color: white;
        border-radius: 0px 3px 3px 0px;
        margin-left: 30vw;
        position: absolute;
        border: 1px solid #f3f3f3;
        margin-top: 3px;
        text-align: center;
        padding-top: 3px;
        height: 19px;
        color: gray;
        background-color: #f3f3f3;
        width: 50px;
    }

    .header .search:hover {
        background-color: #e0e0e0;
    }

    .header .search .fa {
        display: inline-block;
        font-size: 13px;
        z-index: 1;
    }

    .header .profile {
        display: inline-block;
        position: absolute;
        margin-left: 40vw;
    }

    .header .profile li {
        list-style-type: none;
        display: inline-block;
        padding: 2px;
    }

    .header .profile i {
        color: black;
        font-size: 22px;
        margin-left: 1vw;
    }

    .header .profile img {
        display: inline-block;
        position: absolute;
        margin-top: 4px;
        border-radius: 50%;
        border-radius: 50%;
        height: 23px;
        width: 23px;
    }

    .header .profile .pro p {
        margin-left: 30px;
    }

    .header .profile p {
        color: white;
        margin: 7px 10px;

    }

    .header .profile li:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    .downarrow {
        margin-top: -2px;
    }

    .bodypage {
        width: 80vw;
        margin-left: 4vw;
        display: inline-block;
        justify-content: center;
    }

    .section1 {
        width: 100px;
        position: fixed;
    }

    .section2 {
        padding-left: 25vw;
    }

    .section3 {
        position: fixed;
    }

    .section1,
    .section2,
    .section3 {
        padding-top: 60px;
        display: inline-block;
        margin: 0px 20px;
    }

    .section1 {
        margin-left: 1vw;
        color: #5a5a5a;

    }

    .section1 li {
        list-style-type: none;
        padding: 7px;
        width: 190%;


    }

    .section1 li img {
        width: 22px;
        height: 22px;
        display: inline-block;
        border-radius: 50%;
        float: left;
    }

    .section1 li p {
        display: inline-block;
        padding: 3px 5px 0px 5px;

    }

    .section1 li:hover,
    .active {
        background-color: #ffffffa9;
    }

    .section1 #spacedown {
        margin-bottom: 15px;
    }

    .section1 a {
        text-decoration: none;
    }

    .section3 .yourpage {
        width: 300px;
        height: 400px;
        box-sizing: content-box;
        background-color: white;
    }

    .section3 .yourpage .page {
        padding: 10px;
    }

    .section3 .yourpage .page p {
        display: inline-block;
    }

    .section3 .yourpage .page a {
        display: inline-block;
        float: right;
    }

    .section3 .yourpage .profile li {
        list-style-type: none;
        padding: 0px 10px;
    }

    .section3 .yourpage .profile img {
        display: inline-block;
        padding: 10px;
        width: 50px;

    }

    .section3 .yourpage .profile p {
        display: inline-block;
        padding: 20px 10px 10px 10px;
        position: absolute;
    }

    #right {
        float: right;
        text-align: center;
        padding: 10px;
    }

    table {
        border: 1px solid black;
        border-radius: 4px;
        margin: 30px 10px 10px 17px;
    }

    table td {
        padding: 10px 20px;
    }

    table #first {
        background-color: #dddfe2;
    }

    table td:hover {
        background-color: #dddfe2;
    }

    #center {
        text-align: center;
    }

    select {
        margin-top: 10px;
        background-color: #dddfe2;
        padding: 5px 60px;
    }

    select:focus,
    select:active,
    select:hover,
    select:default,
    slect:visited,
    select:focus-within {
        box-shadow: inset 0px 0px 0px 0px;
        border: 1px solid;
    }

    .section3 .language {
        margin-top: 10px;
        background-color: white;
        padding: 15px;
    }

    .section3 .language a {
        text-decoration: none;
        display: inline-block;
    }

    .section3 .language p {
        display: inline-block;
        position: absolute;
        background-color: #dddfe2;
        padding: 6px 10px;
        border: 1px solid;
        margin-left: 45px;
    }

    #terms {
        padding: 5px;
        color: gray;
        line-height: 19px;
    }

    .section4 {
        height: 100%;
        width: 200px;
        position: fixed;
        display: inline-block;

        border-left: 1px solid;
        padding-top: 50px;
    }

    .section4 li {
        list-style-type: none;
        padding: 10px;

    }

    .section4 li p {
        font-size: 13px;
        display: inline-block;
    }

    .section4 li span {
        font-size: 11px;
        right: 0;
        position: absolute;
        padding: 3px;
    }

    #left {
        float: left;
    }

    #imgicon {
        float: right;
    }

    #imgicon i {
        padding: 10px;
    }

    .section4 li img {
        width: 35px;
        padding: 0px;

        display: inline-block;
        height: 35px;
        border-radius: 50%;
    }

    .section4 li h4 {
        display: inline-block;
        position: absolute;
        padding: 7px;
    }

    .opacity {
        opacity: 0.5;
    }

    #bottom {
        bottom: 0;
        width: 200px;
        position: fixed;
        background-color: white;
    }

    .opacity i {
        display: inline-block;
        padding-left: 5px;
        opacity: 0.5;
    }

    .opacity input {
        border: 0px;
        padding-left: 5px;
        position: absolute;
        width: 40px;
        display: inline-block;
    }

    #setting {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 1300px) {
    .section4 {
        display: none;
    }

    bodypage {
        width: 100%;
    }
}

@media only screen and (min-width: 1175px) {
    .section2 {
        padding-left: 17vw;
    }
}

@media only screen and (max-width: 320px) {
    #lowscreen {
        display: none;
    }

    #pictureupload {
        display: none;
    }
}

@media only screen and (max-width: 1175px) {
    .section3 {
        display: none;
    }

    bodypage {
        width: 60%;
    }
}

.section4 {
    justify-content: flex-end;
}

.section2 .post {
    background-color: white;


    border-radius: 5px;
}

.section2 .post .create {
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffffa9;

}

.section2 .post hr {
    margin: 0px;
    padding: 0px;
}

.section2 .textarea {
    padding: 10px;
}

.section2 .textarea img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;

}

.section2 .textarea input {
    position: absolute;
    border: none;
    height: 50px;
    width: 200px;
}

.section2 .textarea input[type="text"] {
    padding: 0px 0px 0px 10px;
}

.section2 .postlist {
    padding: 10px;
}

.section2 .postlist p {
    font-size: 15px;
}

.section2 .postlist li {
    padding: 3px 15px;
    border-radius: 20px;
    list-style-type: none;
    display: inline-block;
    background-color: #e0e0e069;
}

.section2 .stories {

    height: 280px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
}

.section2 .stories .line {
    padding: 15px;
}

.section2 .stories .line a,
.section2 .stories .line p {
    display: inline-block;
}

.section2 .stories .line a {
    float: right;
    text-decoration: none;
}

.section2 .storieslist {
    text-align: center;
}

.section2 .storieslist li {
    display: inline-block;
    width: 30px;
    margin: 10px 15px;
    padding: 10px 70px 140px 10px;
    border-radius: 10px;
    background-image: url(../images/natural.webp);
    background-position: center;
}

.section2 .storieslist li img {
    width: 40px;
    border: 3px solid skyblue;
    border-radius: 50%;
}

.section2 .postnews li {
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    list-style-type: none;
}

.section2 .postnews .line .right {
    float: right;
    padding: 15px;
    font-size: 30px;
}

.section2 .postnews li #pro {
    width: 40px;
    padding: 15px;
    display: inline-block;
    border-radius: 50%;
}

.section2 .postnews li .line p {
    display: inline-block;
    color: darkblue;
    position: absolute;
    padding: 20px 5px;
}

.section2 .postnews li .line p span {
    font-size: 12px;
    color: darkgrey;
}

.section2 .postnews li .line1 {
    padding: 15px 15px 0px 15px;
}

.section2 .postnews li .line1 i {
    padding-left: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.section2 .postnews li .line1 p {
    display: inline-block;
}

.section2 .postnews li .line1 .right {
    float: right;
    display: inline-block;
}

body {
    background-color: #e9ebee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14.5px;
}

input:focus,
select:focus {
    outline: none;
}

/* modal box */
.modal {

    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {

    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80vw;
    height: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    color: #4267b2;
}

.modal .uploadinput {
    margin-top: 30px;
}

.modal input {
    padding: 3px;
}

input[type="submit"] {
    padding: 10px 15px;
    color: white;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 5px;
}

#important {
    color: red;
}

.postupload {
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #4267b2;
}
.header{
    z-index: 1;
}
